<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="demo-component-2">
  <template>
    <style>
      :host {
        display: block;
        font-style: italic;
        font-family: verdana;
        color: blue;
      }
    </style>
    <h2>"id: "[[id]] " nombre:" [[nombre]] " edad:" [[edad]]</h2>
    <img src=bbva.jpeg >
   </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DemoComponent2 extends Polymer.Element {
      static get is() { return 'demo-component-2'; }
      static get properties() {
        return {
          id: {
            type: String,
            value: '12345'
          },
          nombre: {
            type: String
          },
          edad: {
            type: String
          },
        };
      }
    }

    window.customElements.define(DemoComponent2.is, DemoComponent2);
  </script>
</dom-module>
