<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="second-element">
  <template>
    <style>
      :host {
        display: block;
        font-style: italic;
        font-family: verdana;
        color: blue;
      }
    </style>
    <h2>Soy [[nombre]] y tengo [[edad]] años</h2>
    <input type="text" value="{{nombre::input}}">
    <input type="range" min=18 max=90 value="{{edad::input}}">

    <img src=bbva.jpeg >

   </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class SecondElement extends Polymer.Element {
      static get is() { return 'second-element'; }
      static get properties() {
        return {
          id: {
            type: String,
            value: '12345'
          },
          nombre: {
            type: String
          },
          edad: {
            type: String
          },
        };
      }
    }

    window.customElements.define(SecondElement.is, SecondElement);
  </script>
</dom-module>
