<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-list/iron-list.html">

<dom-module id="get-usuarios">
  <template>
      <style>
        :host {
          display: block;
        }
      </style>
      <iron-ajax auto="" id="obtener-jwt"
                 url="http://localhost:3000/api-uruguay/v1/login"
                 handle-as="json"
                 method="post"
                 body ='{"email": "gdelucchi@bbva.com", "password": "pepe"}'
                 content-type="application/json"
                 on-response="obtenerjwt">
      </iron-ajax>

      <iron-ajax id="dmUsuarios"
                 url="http://localhost:3000/api-uruguay/v1/usuarios"
                 handle-as="json"
                 on-response="mostrarDatos">
      </iron-ajax>

      <div class="row">
          <h1 class="col-6">{{userId}}</h1>
      </div>

      <iron-list items="{{resultados}}" as="resultado">
        <template>
          <div class="item">
            <b>#{{index}} - {{resultado.nombre}} - {{resultado.apellido}}</b>
            <p>{{resultado.email}}</p>
          </div>
        </template>
      </iron-list>

    </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GetUsuarios extends Polymer.Element {
      static get is() { return 'get-usuarios'; }
      static get properties() {
        
      }

      obtenerjwt (datos){
        //formato       Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6ImdkZWx1Y2NoaUBiYnZhLmNvbSIsImlhdCI6MTUzOTg2NjA0MCwiZXhwIjoxNTM5OTUyNDQwfQ.JNLbT6TVsLpTu_dXR3A2WEEZ8zynfesUCDLXc0u7VFo
        // headers='{"Content-Type": "application/json; charset=utf-8","Authorization": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6ImdkZWx1Y2NoaUBiYnZhLmNvbSIsImlhdCI6MTUzOTg2NjA0MCwiZXhwIjoxNTM5OTUyNDQwfQ.JNLbT6TVsLpTu_dXR3A2WEEZ8zynfesUCDLXc0u7VFo"}'
        console.log("muestro datos:" + JSON.stringify(datos.detail.response));
        this.token = JSON.stringify(datos.detail.response.token);
        //this.set('$.dmUsuarios.headers', {"Content-Type": "application/json; charset=utf-8","Authorization": "Bearer " + this.token + });
        //this.$.dmUsuarios.headers={"Content-Type": "application/json; charset=utf-8","Authorization": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6ImdkZWx1Y2NoaUBiYnZhLmNvbSIsImlhdCI6MTUzOTg2NjA0MCwiZXhwIjoxNTM5OTUyNDQwfQ.JNLbT6TVsLpTu_dXR3A2WEEZ8zynfesUCDLXc0u7VFo"};

        //Armo el string del header y quito las comillas del jwt que viene de la llamada de respuesta.
        let authorization = `"Bearer ${this.token}`;
        authorization= authorization.replace(/['"]+/g, '');
        console.log(`"Content-Type": "application/json; charset=utf-8","Authorization": ${authorization}`);
        this.$.dmUsuarios.headers={"Content-Type": "application/json; charset=utf-8","Authorization": authorization };
        this.$.dmUsuarios.generateRequest();
      }
      mostrarDatos(datos) {
        //this.set('resultados',datos.detail.response);
        //last-response="{{resultados}}"
        //console.log(datos.detail)
        this.resultados = datos.detail.response;
        console.log(datos.detail.response);
        console.log(datos.detail.response[0].userId);
        this.userId = datos.detail.response[0].userId;
        //this.apellido = datos.detail.response.apellido
      }
    }

    window.customElements.define(GetUsuarios.is, GetUsuarios);
  </script>
</dom-module>
